---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import NowPlaying from "../components/NowPlaying.astro";
import Schedule from "../components/Schedule.astro";
import Footer from "../components/Footer.astro";
import Historique from "../components/Historique.astro";
import Equipe from "../components/Equipe.astro";
import Charte from "../components/Charte.astro";

const image = "/banner.jpg";
---

<Layout>
  <Hero image={image} />
  <NowPlaying />
  <Schedule />
  <div class="max-w-6xl mx-auto grid grid-cols-1 md:grid-cols-3 gap-8 mt-16 px-6">
	<Historique />
	<Equipe />
	<Charte />
  </div>
</Layout>


  
