<footer class="bg-black text-gray-400 py-10 text-center mt-16">
  <h3 class="text-white font-bold text-2xl">CINE ECHOS</h3>
  <p class="mt-2">Contact : cineechos@gmail.com | 06 25 48 69 54</p>
  <p class="mt-2">10/04/2025 - 14/04/2025 | Héricourt, CHATEAU</p>

 
  <div class="flex justify-center gap-10 mt-8">
    <a href="#" class="hover:opacity-75 transition">
      <img src="/public/Televisions.jpg" alt="Televisions" class="w-20 h-20 object-contain">
    </a>
    <a href="#" class="hover:opacity-75 transition">
      <img src="/public/Nespresso.png" alt="Nespresso" class="w-20 h-20 object-contain">
    </a>
    <a href="#" class="hover:opacity-75 transition">
      <img src="/public/Radio.jpg" alt="Radio" class="w-20 h-20 object-contain">
    </a>
  </div>
</footer>


  
  